@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(../fonts/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCAYag.ttf) format('truetype');
}
