/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0;}

/* HTML5 display-role reset for older browsers *//* after_qbici */

article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}/* owmen17 */

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
/* bizlife_inc */
*::-webkit-input-placeholder {color: #545454; opacity: 1;}
*:-moz-placeholder {color: #545454; opacity: 1;}
*::-moz-placeholder {color: #545454; opacity: 1;}
*:-ms-input-placeholder {color: #545454; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input{outline: none;}


.center{text-align: center;}
.clearfix:after, .color li:after {content: '';display: block;clear: both;}

@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url('../fonts/MuseoSansCyrl-300.eot#iefix') format('embedded-opentype'),  
  url('../fonts/MuseoSansCyrl-300.otf')  format('opentype'),
  url('../fonts/MuseoSansCyrl-300.woff') format('woff'), 
  url('../fonts/MuseoSansCyrl-300.ttf')  format('truetype'), 
  url('../img/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-500';
  src: url('../fonts/MuseoSansCyrl-500.eot#iefix') format('embedded-opentype'),  
  url('../fonts/MuseoSansCyrl-500.otf')  format('opentype'),
  url('../fonts/MuseoSansCyrl-500.woff') format('woff'), 
  url('../fonts/MuseoSansCyrl-500.ttf')  format('truetype'), 
  url('../img/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-700';
  src: url('../fonts/MuseoSansCyrl-700.eot#iefix') format('embedded-opentype'),  
  url('../fonts/MuseoSansCyrl-700.otf')  format('opentype'),
  url('../fonts/MuseoSansCyrl-700.woff') format('woff'), 
  url('../fonts/MuseoSansCyrl-700.ttf')  format('truetype'), 
  url('../img/MuseoSansCyrl-700.svg#MuseoSansCyrl-700') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-900';
  src: url('../fonts/MuseoSansCyrl-900.eot#iefix') format('embedded-opentype'),  
  url('../fonts/MuseoSansCyrl-900.otf')  format('opentype'),
  url('../fonts/MuseoSansCyrl-900.woff') format('woff'), 
  url('../fonts/MuseoSansCyrl-900.ttf')  format('truetype'), 
  url('../img/MuseoSansCyrl-900.svg#MuseoSansCyrl-900') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6{font-family: 'MuseoSansCyrl-300'; font-weight: normal;}
b, strong{font-family: 'MuseoSansCyrl-700'; font-weight: normal;}
i{font-style: italic;}

html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    position: relative;
    width: 100%;
    min-width: 320px;
    padding: 0px;
    margin: 0px auto;
    font-family: 'MuseoSansCyrl-300', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5em;
    color: #111;
    background: #f7f7f7;
}
.main-wrap{
    position: relative;
    width: 480px;
    margin: 0px auto;
}
.section, .wrap, .container{
    position: relative;
}
.section{
    position: relative;
    padding: 40px 20px;
}
.section--nopadding {
    padding: 0;
}
.button-m{
    position: relative;
    display: block;
    width: 400px;
    height: 80px;
    font: 26px 'MuseoSansCyrl-500';
    line-height: 80px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #242323;
    text-shadow: 0 1px rgba(255,255,255,.3);
    margin: 0 auto;
    outline: none;
    border: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer; 
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #e3b949;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2), inset 0 2px rgba(255,255,255,.03);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2), inset 0 2px rgba(255,255,255,.03);
    box-shadow: 0 0 3px rgba(0,0,0,.2), inset 0 2px rgba(255,255,255,.03);
    border: solid 1px #e2bc57;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.3), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.3), rgba(0,0,0,0));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.3), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.3), rgba(0,0,0,0));
    background-image: linear-gradient(to top, rgba(0,0,0,.3), rgba(0,0,0,0));
}
.m1-form>div{
    position: relative;
    padding-bottom: 20px;
}
.m1-form>div:last-child{
    padding-bottom: 0;
}
.m1-form label {
    color: #fff;
}
.m1-form input{
    position: relative;
    display: block;
    outline: 0;
    border: 0;
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
    height: 70px;
    line-height: 70px;
    -webkit-border-radius: 28px/27px;
    -moz-border-radius: 28px/27px;
    border-radius: 28px/27px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.35);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.35);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.35);
    border: solid 1px #fff;
    font: 20px 'MuseoSansCyrl-300'; 
}
.m1-form select{
    padding: 0px 30px;
    background: url(../img/select.png) center 0px no-repeat;
    width: 100%;
    height: 70px;
    text-align: center;
    outline: 0;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: 20px 'MuseoSansCyrl-300'; 
    color:#545454;
}
h1{
    font: 24px 'MuseoSansCyrl-300';  
    letter-spacing: 0.025em;
    line-height: 34px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background: #202020;
    padding: 15px 40px;
}
h1 b{
    font: 32px 'MuseoSansCyrl-900';  
    line-height: 1.2em;
    letter-spacing: 1px;
    color: #fbca69;
}
h2{
    font: 22px 'MuseoSansCyrl-300';  
    letter-spacing: 0.025em;
    line-height: 34px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
h2 b{
    font: 30px 'MuseoSansCyrl-900';  
    line-height: 1.2em;
    letter-spacing: 1px;
    color: #fbca69;
}
h2 span{
    font-size: 24px;
    letter-spacing: 0.025em;
}
h4{
    color: #222;
    font: 20px 'MuseoSansCyrl-900';    
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 0.01em;
}
h5{
    color: #222;
    font: 24px 'MuseoSansCyrl-500';    
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 1px;
    padding: 10px 0 5px;
}
.countbox{
    margin: 0 auto;
    margin-bottom: 20px;
    line-height: 1.2; 
    font-size: 30px; 
    width: 400px; 
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
}
.countbox .num{
    float: left;
    width: 110px;
    height: 60px;
    position: relative;
    color: #fff;
}
.countbox .t-space{
    float: left; 
    width: 20px;
    line-height: 60px;
 }
.countbox .t-space:before{
    content: '\003A'; 
    font:30px 'MuseoSansCyrl-900';
    color: #fff;
    line-height: 36px;
}
.t-hour,
.t-min,
.t-sec {
    float: left; 
    width: 54px;
    height: 60px;
    text-align: center;
    background: #ca952c;
    z-index:1;
    font: 32px 'MuseoSansCyrl-900';
    color: #fff;
    line-height: 60px;
    margin: 0 3px;
}
.t-hours-text,.t-mins-text,.t-secs-text{
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 66px;
    height: 18px;
    width: 120px;
    font-size: 16px;
    padding: 0 8px 4px;
    color: #fff;
    text-transform: lowercase;
}

.video-container{
     position: relative;
     width: 100%;
     height: 250px;
     overflow:hidden;
     background:#000;
     border:5px solid #fff;
    margin: 20px auto;
}
 .video-container iframe, .video-container object, .video-container embed{
    position:absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.youtube {
    height: 100% !important;
}